<%- include('../partials/header') -%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Article </title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <section class="p-10 border-4">
        <h1 class="text-3xl text-blue-600 font-bold mb-5"><%= article.title %></h1>
        <h5 class="text-xl text-indigo-600 mb-5">Author: <%= article.author.fullName %></h5>
        <div class="mb-5">
            Tags: 
            <% article.tags.forEach( tag => { %>
                <span class="border-2 p-2 mr-2 bg-gray-200"><%= tag %></span>
            <% }) %>
            </div>
        <p class="mb-5"><%= article.description %></p>

        <p class="text-xl text-red-600">Likes: <%= article.likes ? article.likes : 0 %></p>
        <div class="mt-5">
            <a href="/articles/<%= article.slug %>/likes">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded mr-2">Like</button>
            </a>
            <a href="/articles/<%= article.slug %>/edit">
                <button class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-1 px-2 rounded mr-2">Edit Article</button>
            </a>
            <a href="/articles/<%= article.slug %>/delete">
                <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded mr-2">Delete Article</button>
            </a>
            <a href="/articles">
                <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 rounded mr-2">Go to Home</button>    
            </a>
        </div>
    </section>

    <div class="p-10 mt-8">

        <form action="/articles/<%= article.id %>/comments" method="POST" class="w-1/3 mt-2 mb-10">
            <textarea name="content" class="w-full text-gray-500 p-3 border-2 mb-2" name="content" rows="3" placeholder="Add Comment...."></textarea>
            <input type="submit" value="Add Comment" class="bg-green-500 hover:bg-green-700 text-white text-sm py-1 px-1 rounded">
        </form>
    </div>

    <div class="bg-gray-100 rounded p-5 my-2 mb-10">
        <h2 class="text-2xl text-green-600 mb-5">Comments</h2>
        <% article.comments.forEach(comment => { %>
            <div class="p-5 border-2 mb-3">
                <p class="text-grey-500"><%= comment.content %></p>

                <p><span class="text-xs m-3 text-red-500">Likes: <%= comment.likes %></span></p>
                <a href="/comments/<%= comment.id %>/like">
                    <button class="text-xs text-white bg-blue-500 px-1 rounded">Like 💖</button>
                </a>
                <a href="/comments/<%= comment.id %>/dislike">
                    <button class="text-xs text-white bg-blue-500 px-1 rounded">Dislike 👎</button>
                </a> 
                <a href="/comments/<%= comment.id %>/edit">
                    <button class="text-xs text-white bg-blue-500 px-1 rounded">Edit</button>
                </a>
                <a href="/comments/<%= comment.id %>/delete">
                    <button class="text-xs text-white bg-red-500 px-1 rounded">Delete</button>
                </a>
            </div>
        <% }) %>
    </div>
    <section class="flex justify-center mt-5 mb-5">
        <a href="/users/logout" class="px-3 py-2 text-white font-bold rounded bg-green-600 hover-bg-blue-900" >Logout</a>
    </section>
</body>
</html>
<%- include('../partials/footer') -%>
